.academy .port_ul ul {
  display: flex;
  list-style: none;
  position: relative;
  margin-bottom: 60px;
}

.academy .port_ul ul li {
  margin-right: 30px;
  padding-bottom: 8px;
  padding: 9px 45px;
  box-sizing: border-box;
  background-color: #f1f1f1;
  border-radius: 3px;
  cursor: pointer;
}
.academy .port_ul ul li.acal {
  background-color: #3d3d3d;
}
.academy .port_ul ul li a.aca {
  color: white;
}
.academy h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #1c1c1f;
}

.academy .port_ul ul li a {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #3d3d3d;
  text-decoration: none;
}

.academy .top_color {
  margin-top: 150px;
}

.academy .top_color h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 65px;
  line-height: 79px;

  color: #1c1c1f;
  padding-right: 160px;
}
.academy .top_color h2 span {
  font-style: normal;
  font-weight: 800;
  font-size: 65px;
  line-height: 79px;

  color: #ff7300;
}

.academy .top_color p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #8c8c8c;
  margin-bottom: 50px;
  padding-right: 542px;
}

.academy .life {
  margin-bottom: 180px;
}

.academy .life .accordion {
  width: auto;
}
.academy .life .accordion .accordion-button::after {
  display: none;
}
.academy .life .accordion .accordion-body {
  padding: 0 0;
}

.academy .life .accordion .accordion-body .nav-link {
  width: 260px;
}
.academy .life .row {
  flex-wrap: nowrap;
}
.academy .life .accordion .accordion-button:not(.collapsed) {
  color: #1c1c1f;
  background-color: transparent;
  box-shadow: none;
}
.academy .life .accordion .accordion-item {
  border: none;
}
.academy .life .accordion .accordion-item .accordion-button {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #252429;
  padding: 14px 30px 14px 30px;
}

.academy .life .accordion .accordion-collapse {
  transition: none !important;
}

.academy .life .accordion .accordion-item .accordion-button:focus {
  box-shadow: none;
}
.academy .life .accordion .accordion-item .accordion-button.collapsed {
  color: #bdbdbd;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  justify-content: center;
  font-style: normal;
}

.academy .life .accordion .accordion-body .nav-link.active {
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  color: #1c1c1f;
  text-align: start;
  font-style: normal;
  font-weight: normal;
  border-radius: 0;
  border-left: 2px solid #ff7300;
}
.academy .life .accordion .accordion-body .nav-link {
  text-align: start;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #626468;
  padding: 0.5rem 0.5rem;
}

.academy .life .accordion .accordion-body .tab-pane h3,
.academy .albom .tab-content h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #1c1c1f;
}
.academy .life .accordion .accordion-body .tab-pane .photo img,
.academy .albom .tab-content .photo img {
  width: 100%;
}
.academy .life .accordion .accordion-body .tab-pane p,
.academy .albom .tab-content p:nth-of-type(1) {
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #a6a6a6;
  margin-top: 12px;
  margin-bottom: 30px;
}

.academy .life .accordion .accordion-body .tab-pane h4,
.academy .life .accordion .accordion-body .tab-pane h4 a {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1c1c1f;
  margin-top: 35px;
  margin-bottom: 16px;
  text-decoration: none;
}
.academy .life .accordion .accordion-body .tab-pane a {
  font-weight: normal;
}
.academy .life .accordion .accordion-body .tab-pane h4:nth-of-type(2) {
  margin-top: 24px;
  margin-bottom: 16px;
}
.academy .life .accordion .accordion-body .tab-pane ul li,
.academy .albom .tab-content p:nth-of-type(2) {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #1c1c1f;
  list-style: none;
}
.academy .life .accordion .accordion-body .tab-pane ul:nth-of-type(2) {
  margin: 16px 0;
}

.academy .life .accordion .accordion-body .tab-pane ul li span,
.academy .albom .tab-pane .d-flex span {
  font-size: 20px;
  color: #ff7300;
}

.academy .albom .tab-pane .d-flex span {
  margin-top: 50px;
}
.academy .albom .tab-content .con p a {
  text-decoration: none;
  color: #1c1c1f;
}

.academy .albom .tab-content .con {
  margin-bottom: 50px;
}
.academy .albom .tab-content .con:last-child {
  margin-bottom: 180px;
}
.academy .albom .nav {
  display: flex;
  flex-direction: column;
}

.academy .albom .tab-content h5 {
  margin-top: 16px;
  margin-bottom: 12px;
}

.academy .albom .tab-content {
  margin-left: 70px;
}

.academy .albom .nav-link {
  color: #bdbdbd;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  justify-content: center;
  font-style: normal;
  padding: 14px 30px 14px 30px;
}
.academy .albom .nav-link.active {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #252429;
}

.academy .albom .tab-content p:nth-of-type(2) {
  line-height: 24px;
}

@media (max-width: 991px) {
  .academy .life {
    margin-bottom: 120px;
  }
  .academy .life .accordion {
    flex-direction: column;
  }
  .academy .life .accordion .items {
    display: flex;
  }
  .academy .top_color {
    margin-top: 95px;
  }
  .academy .top_color h2 {
    font-size: 48px;
    padding-right: 0;
    line-height: 58px;
  }
  .academy .top_color p {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    padding-right: 140px;
  }
  .academy .port_ul ul li a {
    font-size: 16px;
    line-height: 19px;
  }
  .academy .life .accordion .accordion-item .accordion-button {
    padding-left: 0;
  }
  .academy .life .accordion .accordion-item {
    display: flex;
    align-items: center;
  }
  .academy .life .accordion .accordion-body .tab-pane h3 {
    font-size: 22px;
    line-height: 27px;
  }
  .academy .life .accordion .accordion-body .tab-pane p {
    font-size: 16px;
    line-height: 28px;
  }
  .academy .life .accordion .accordion-body .tab-pane h4 {
    font-size: 15px;
    line-height: 24px;
  }
  .academy .life .accordion .accordion-body .tab-pane ul li {
    font-size: 15px;
    line-height: 24px;
  }

  .academy .life .accordion .accordion-body .tab-pane ul li:nth-last-of-type() {
    display: flex;
  }
  .academy .life .accordion .accordion-body .tab-pane h4 a {
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
  }
  .academy .albom .d-flex {
    flex-direction: column;
  }
  .academy .albom .nav {
    display: flex;
    flex-direction: unset;
    margin-bottom: 15px;
  }
  .academy .albom .tab-content {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .academy .life .accordion .accordion-body .d-flex {
    flex-direction: column;
  }
  .academy .albom .nav-link {
    padding-right: 15px;
  }
}

@media (max-width: 575px) {
  .academy .top_color h2 {
    font-size: 22px;
    line-height: 30px;
  }
  .academy .top_color h2 span {
    font-size: 20px;
    line-height: 30px;
  }
  .academy .top_color {
    margin-top: 35px;
  }
  .academy .life .accordion .items {
    overflow: scroll;
  }
  .academy .life .accordion .accordion-body .tab-pane h4 a {
    font-size: 13px;
  }
  .academy .port_ul ul li {
    padding: 9px 20px;
  }
  .academy .life .accordion .accordion-button {
    background: transparent;
  }
  .academy .albom .nav-pills {
    /* display: flex; */
    overflow: scroll;
    flex-direction: none;
  }
  .academy .top_color p {
    padding-right: 40px;
  }
}
