footer{height:534px;background-color:#1c1c1f;color:#fff;box-sizing:border-box;margin:0;padding:0;padding-top:136px}
footer .right-footer img{margin-bottom:86px}
footer h1{font-weight:700;font-size:16px}
footer h2{font-size:13px}
footer .right-footer h2{line-height:18px;color:#d2d2d2}
footer .right-footer a{text-decoration:none;color:#d2d2d2}
footer .left-footer .col-lg-3 a{text-decoration:none;color:#d2d2d2}
footer .left-footer h1{margin-bottom:18px;font-weight:700;font-size:16px;line-height:19px;color:#fff;font-style:normal}
footer .left-footer h2 a{font-style:normal;font-weight:400;font-size:13px;line-height:16px;color:#d2d2d2;text-decoration:none}
.footer-bottom{height:82px;background-color:#1a191c;display:flex;align-items:center}
.footer-bottom .left-footer h2 a,.footer-bottom h2{font-style:normal;font-weight:400;font-size:13px;line-height:16px;color:#d2d2d2;text-decoration:none}
.footer-bottom .right-footer h2{margin:0}
.footer-bottom .left-footer{display:flex;justify-content:flex-end}
.footer-bottom .left-footer h2:not(:first-child){margin-left:22px}
@media (min-width:280px) and (max-width:991px){
footer .right-footer{display:none}
}
@media (max-width:767px){
.footer-bottom .right-footer h2{font-size:8px}
}
@media (max-width:575px){
.d-block{background-color:#1c1c1f;display:block;color:#fff;padding:10px 0}
.collapse #showCol4 a{text-decoration:none}
.collapse #showCol1{transition:1s ease-in}
.last_collapse{padding-top:50px}
.activeShow{height:35px;overflow:hidden;transition:.3s ease-in}
.hideShow1,.hideShow2,.hideShow3,.hideShow4,.hideShow5{transition:3s ease-in;height:210px}
.sircleImg{transform:rotate(0);transition:.3s ease-in}
.sircleImg1{transform:rotate(180deg);transition:.3s}
.collapse hr{margin:0;margin-top:25px}
.coll .onShow{display:flex;justify-content:space-between;transition:.3s;width:100%;border:none;background-color:#1c1c1f;color:#fff;position:relative;align-items:center;padding:10px}
.coll .onShow h1{font-size:20px;font-weight:600}
.collapse .coll h2{font-weight:500;font-size:16px;line-height:19.36px;color:#fff;text-decoration:none;padding-left:5%}
.collapse .coll h2 a{font-weight:500;font-size:16px;line-height:19.36px;color:#fff;text-decoration:none;padding-left:5%}
.footer-bottom .col-6{width:100%}
.footer-bottom .right-footer h2{font-size:16px;text-align:center}
}
@media (max-width:418px){
.footer-bottom .right-footer h2{font-size:12px;text-align:center}
}
@media (max-width:328px){
.footer-bottom .right-footer h2{font-size:10px;text-align:center}
.collapse .coll h2{color:#d1d1d1}
.collapse .coll h2 a{color:#d1d1d1}
}
@media (max-width:268px){
.footer-bottom .right-footer h2{font-size:8px;text-align:center}
}