p {
  margin: 0;
  padding: 0;
}

header {
  margin-top: 180px;
}
header h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 65px;
  line-height: 79px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #1c1c1f;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  margin-top: 30px;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.slider .slide-track {
  -webkit-animation: scroll 90s linear infinite;
  animation: scroll 90s linear infinite;
  display: flex;
  width: calc(250px * 15);
}
.slider .slide {
  height: 200px;
  width: 250px;
}

.two .slide-track {
  -webkit-animation: scroll 90s linear infinite;
  animation: scroll 90s linear infinite;
  display: flex;
  width: calc(400px * 200);
}

.two {
  margin-bottom: 0;
}

.two .slide {
  width: 240px;
  justify-content: space-evenly;
}

.medium {
  margin-top: 0;
}

header h2 span {
  color: #ff7300;
}
header .container .row {
  justify-content: center;
}
main header p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #8c8c8c;
  padding: 0 70px;
}
main header .header_bottom {
  padding-top: 70px;
  padding-bottom: 50px;
}

main header .header_bottom .text_line {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #ff7300;
}
main header .header_bottom .text_line::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #ebebeb;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

main header .header_bottom .text_line span {
  background-color: #fff;
  padding: 0 16px;
}

/* Sedction */
section .container img {
  width: 100%;
}
section .container img:hover {
  transition: 0.5s;
  transform: scale(1.03);
}
section .container p {
  margin: 10px 0 16px;
  font-family: Inter;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #1c1c1f;
}

section .container .bottom p {
  margin: 10px 0 50px;
  font-family: Inter;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #1c1c1f;
}

.experts .col-lg-4 {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.experts .col-lg-4 div:nth-child(2) {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.experts .col-lg-4 div h4 {
  margin-bottom: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #1c1c1f;
}

.experts .col-lg-4 div p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #a6a6a6;
}

.experts .col-lg-4 div:nth-child(1) {
  border: 2px solid #e7e7e7;
  box-shadow: 0 0 0 4px #e7e7e7;
  border-radius: 50%;
}

.experts .col-lg-4:hover div:nth-child(1) {
  border: 2px solid #f1bd91;
  box-shadow: 0 0 0 4px #f1c49f;
  border-radius: 50%;
  transition: box-shadow 0.2 ease;
}

.reason {
  margin-top: 20px;
}
.reason .bg_item {
  background-color: #fcfcfc;
  border-radius: 5px;
  padding: 30px 40px 30px 40px;
}
.reason .col-lg-4 {
  margin-bottom: 30px;
}
.reason .bg_item img {
  margin-bottom: 22px;
}

.reason .bg_item h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1c1c1f;
  margin-bottom: 2px;
}

.reason .bg_item span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #ff7300;
  margin-bottom: 15px;
}

.reason .bg_item p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #3b4254;
  margin-bottom: 40px;
}

.belive .container .row {
  justify-content: center;
}

.belive .col-lg-4 {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}

.belive .col-lg-4 span {
  margin: 20px 0;
  padding: 0 38px 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #1c1c1f;
}

.belive .col-lg-4 p {
  padding: 0 75px 0 0;
  font-family: Inter;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #626468;
}

header .write {
  text-align: center;
}
header .write {
  margin-top: 50px;
  margin-bottom: 150px;
}
header .write h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #1c1c1f;
  border-bottom: 5px solid #ff7300;
  display: inline-block;
}

.skills {
  margin-top: 70px;
}

.skills .col-lg-4 {
  margin-bottom: 30px;
}

.skills .col-lg-3 {
  margin-bottom: 54px;
  padding: 0 27px;
}
.skills .logos {
  background: #fafafa;
  padding: 20px 20px 16px 20px;
}
.skills .logos i {
  font-size: 60px;
  color: #a6a6a6;
}

.skills .logos:hover {
  background: #fffbf5;
}

.skills .logos:hover i {
  color: #ff7300;
}
.skills h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #1c1c1f;
  margin-bottom: 6px;
  margin-top: 26px;
}
.skills p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #1c1c1f;
}
.skills .others .other {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #a6a6a6;
}
.skills .others {
  padding: 50px 25px 20px;
}
.skills .others:hover {
  background: #fffbf5;
}
.skills .others .other div {
  display: inline;
  margin-left: 10px;
}

/* Media */

@media (max-width: 1199px) {
  .skills .col-lg-4 {
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .belive .col-lg-4 {
    text-align: center;
  }

  header .header_top h2 {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .skills h4 {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  header .header_top h2 {
    font-size: 24px;
    line-height: 29px;
  }
  header {
    margin-top: 70px;
  }
  .skills .logos i {
    font-size: 50px;
  }
  header .header_top p {
    padding: 0;
    font-size: 14px;
    line-height: 20px;
  }

  section .derzi {
    display: flex;
    justify-content: space-around;
  }

  section .rev {
    flex-direction: column-reverse;
  }
  .skills {
    margin-top: 0;
  }
  .skills h4 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
  }

  .skills p {
    font-size: 14px;
    line-height: 22px;
  }

  .belive .col-lg-4 span {
    font-size: 24px;
    line-height: 29px;
    padding: 0;
  }

  .belive .col-lg-4 p {
    font-size: 14px;
    line-height: 20px;
    padding: 0;
  }

  header .write {
    margin-bottom: 50px;
  }

  header .write h3 {
    font-size: 18px;
    line-height: 22px;
  }
  main header .header_bottom {
    margin: 30px;
    padding: 0;
  }

  main header .header_bottom .text_line {
    font-size: 12px;
  }
}
