.view .view_top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #1c1c1f;
  padding-left: 233px;
}

.view .view_top h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #1c1c1f;
  padding-left: 233px;
}

.view .view_bottom .view_text {
  display: flex;
  justify-content: flex-start;
}
.view .view_bottom .view_text .col-lg-3 {
  display: flex;
  justify-content: flex-start;
  padding-left: 73px;
}

.view .view_bottom .view_text span {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #1c1c1f;
}

.view .view_bottom .view_text p {
  margin-bottom: 15px;
  font-family: Inter;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-feature-settings: "pnum" on, "lnum" on, "liga" off;
  color: #1c1c1f;
}

.view .view_img .col-lg-11 img {
  width: 100%;
}
.view .view_img .col-lg-11{
  margin-bottom: 30px;
}

.view .view_img .row .images {
  background: rgb(145, 144, 137);
  width: 32.5%;
  height: auto;
  margin-bottom: 16px;
}
.view .view_img .img {
  justify-content: space-between;
}
